In [ ]:
import cv2

import os,glob

from os import listdir,makedirs

from os.path import isfile,join
path = 're_happy/' # Source Folder
dstpath = 'happy/' # Destination Folder
try:
    makedirs(dstpath)
except:
    print ("Directory already exist, images will be written in same folder")
# Folder won't used
files = [f for f in listdir(path) if isfile(join(path,f))] 
for image in files:
    try:
        img = cv2.imread(os.path.join(path,image))
        gray = cv2.cvtColor(img,cv2.COLOR_BGR2GRAY)
        dstPath = join(dstpath,image)
        cv2.imwrite(dstPath,gray)
    except:
        print ("{} is not converted".format(image))
for fil in glob.glob("*.png"):
    try:
        image = cv2.imread(fil) 
        gray_image = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY) # convert to greyscale
        cv2.imwrite(os.path.join(dstpath,fil),gray_image)
    except:
        print('{} is not converted')

In [7]:
data = pd.read_csv('sad_2.csv')
data[0]

KeyError: 0

In [ ]:
import numpy
import matplotlib.pyplot as plt
randim_image1 = numpy.asarray([[(0., 0., 1.), (0., 1., 0.)], [(1., 0., 0.), (0., 0., 0.)]])

plt.imshow(image1, interpolation="none")

In [1]:
from PIL import Image
import numpy as np
import sys
import os
import csv

In [2]:
# default format can be changed as needed
def createFileList(myDir, format='.png'):
    fileList = []
    print(myDir)
    for root, dirs, files in os.walk(myDir, topdown=False):
        for name in files:
            if name.endswith(format):
                fullName = os.path.join(root, name)
                fileList.append(fullName)
    return fileList

In [3]:
# load the original image
myFileList = createFileList('re_happy/')

re_happy/

In [4]:
#myFileList

In [5]:
for f in myFileList:
    #print(f)
    img_file = Image.open(f)
    # img_file.show()

    # get original image parameters...
    width, height = img_file.size
    format = img_file.format
    mode = img_file.mode

    # Make image Greyscale
    img_grey = img_file.convert('L')
    #img_grey.save('result.png')
    #img_grey.show()

    # Save Greyscale values
    value = np.asarray(img_grey.getdata(), dtype=np.int).reshape((img_grey.size[1], img_grey.size[0]))
    value = value.flatten()
    #print(value)
    with open("re_happy/happy.csv", 'a') as f:
        writer = csv.writer(f)
        writer.writerow(value)

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('re_happy/happy.csv', sep='\n', header=None, names=['pixels'])
#df

In [8]:
df = df.replace(',', ' ', regex=True)

In [9]:
emotions = [1 for x in range(len(df))]

In [10]:
df['emotion'] = emotions

In [14]:
df

                                               pixels  emotion
0   207 207 207 207 207 207 207 207 204 204 204 20...        1
1   179 179 179 179 179 176 179 176 170 176 170 17...        1
2   6 6 6 6 6 6 6 6 4 4 4 4 4 4 4 4 6 6 6 6 6 6 6 ...        1
3   196 195 194 192 189 188 187 185 185 185 185 18...        1
4   7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 ...        1
5   48 44 35 35 44 53 53 48 53 25 25 39 35 48 60 4...        1
6   255 255 255 255 255 255 255 255 255 255 255 25...        1
7   1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 1 2 3 3 4 3 3 ...        1
8   48 58 58 54 58 60 58 60 60 60 60 60 60 60 60 6...        1
9   254 254 254 254 254 254 254 254 254 252 254 25...        1
10  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...        1
11  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...        1
12  0 0 0 0 0 0 1 1 0 0 1 1 1 1 1 0 0 0 0 0 0 0 0 ...        1
13  199 198 198 198 198 200 201 202 202 203 204 20...        1
14  23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 2...        1

In [11]:
df = df[['emotion', 'pixels']]

In [16]:
df

    emotion                                             pixels
0         1  207 207 207 207 207 207 207 207 204 204 204 20...
1         1  179 179 179 179 179 176 179 176 170 176 170 17...
2         1  6 6 6 6 6 6 6 6 4 4 4 4 4 4 4 4 6 6 6 6 6 6 6 ...
3         1  196 195 194 192 189 188 187 185 185 185 185 18...
4         1  7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 ...
5         1  48 44 35 35 44 53 53 48 53 25 25 39 35 48 60 4...
6         1  255 255 255 255 255 255 255 255 255 255 255 25...
7         1  1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 1 2 3 3 4 3 3 ...
8         1  48 58 58 54 58 60 58 60 60 60 60 60 60 60 60 6...
9         1  254 254 254 254 254 254 254 254 254 252 254 25...
10        1  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
11        1  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...
12        1  0 0 0 0 0 0 1 1 0 0 1 1 1 1 1 0 0 0 0 0 0 0 0 ...
13        1  199 198 198 198 198 200 201 202 202 203 204 20...
14        1  23 23 23 23 23 23 23 23 23 23 23 23 23 23 23 2...

In [12]:
df.to_csv('re_happy/happy_2.csv', index=False)